sudo: required

language: sh

services:
  - docker

before_install:
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-engine

script:
  - bash ./.travistest.sh
notifications:
  email: false
